body{
	background: url("../images/background.jpg");
	background-position: center;
	background-size: cover;
}
h1 {
	text-align: center;
	color: cyan;
	font-family: 'Pattaya', sans-serif;
	margin-top: 40px;
}
.grid-photos{
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 200px 200px;
	grid-gap: 10px;
	background-color: transparent;
	padding: 30px;
	margin-top: 15%;
}
.first{
	grid-column: 1;
	grid-row: 1;
	align-items: center; 
	opacity: 0.6;
    transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
	animation-name: animate;
    animation-duration: 2s;
}
.first:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in;
    -moz-transition: opacity .55s ease-in;
    -webkit-transition: opacity .55s ease-in;
}
.second{
	grid-column: 2;
	grid-row: 1;
	align-items: stretch; 
	opacity: 0.6;
    transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
}
.second:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in;
    -moz-transition: opacity .55s ease-in;
    -webkit-transition: opacity .55s ease-in;
}
.third{
	grid-column:3;
	grid-row: 2;
	align-items: stretch; 
	opacity: 0.6;
    transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
}
.third:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in;
    -moz-transition: opacity .55s ease-in;
    -webkit-transition: opacity .55s ease-in;
}
.fourth{
	grid-column: 3;
	grid-row: 1;
	align-items: stretch; 
	opacity: 0.6;
    transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
}
.fourth:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in;
    -moz-transition: opacity .55s ease-in;
    -webkit-transition: opacity .55s ease-in;
}
.fifth{
	grid-column: 2;
	grid-row: 2;
	align-items: stretch; 
	opacity: 0.6;
    transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
}
.fifth:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in;
    -moz-transition: opacity .55s ease-in;
    -webkit-transition: opacity .55s ease-in;
}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.mySlides {
	display: none;
}

img{
	width: 100%;
	height: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	margin-left: -20px;
	margin-right: -15px;
	padding: 5px;
	color: orangered;
	font-weight: bold;
	font-size: 40px;
	transition: 1s ease;
	border-radius: 0 7px 7px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px; 
}
.dots{
	text-align: center;
}
.dot{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: black;
	border: 3px solid white;
	border-radius: 45%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.dot:hover{
	background-color: white;
}
.active {
	background-color:  #f2f2f2;
	transition: all 500ms ease;
	transform: rotate(90deg);
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}